In [11]:
import pandas as pd
import numpy as np

In [12]:
from numpy.random import randn

In [13]:
np.random.seed(101)

In [14]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['AB','CD','EF','GH'])

In [19]:
df

         AB        CD        EF        GH
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
df['GH']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: GH, dtype: float64

In [24]:
df.GH

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: GH, dtype: float64

In [ ]:
df['Hendri'] = df['AB'] + df['GH']