In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [13]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [15]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [16]:
df

             A         B
G1 1  0.366639 -0.452124
   2 -0.668094  0.759396
   3 -0.595912  1.037598
G2 1 -0.117880  0.772668
   2 -0.356271 -0.274453
   3 -1.848752  2.859350

In [18]:
df['C'] = df['A'] + df['B']

In [19]:
df

             A         B         C
G1 1  0.366639 -0.452124 -0.085485
   2 -0.668094  0.759396  0.091302
   3 -0.595912  1.037598  0.441686
G2 1 -0.117880  0.772668  0.654788
   2 -0.356271 -0.274453 -0.630725
   3 -1.848752  2.859350  1.010598

In [23]:
df.loc['G1'].loc[1]

A    0.366639
B   -0.452124
C   -0.085485
Name: 1, dtype: float64

In [24]:
df.index.names = ['Groups','Num']

In [32]:
df

                   A         B         C
Groups Num
G1     1    0.366639 -0.452124 -0.085485
       2   -0.668094  0.759396  0.091302
       3   -0.595912  1.037598  0.441686
G2     1   -0.117880  0.772668  0.654788
       2   -0.356271 -0.274453 -0.630725
       3   -1.848752  2.859350  1.010598

In [33]:
 df.loc['G2'].loc[2]['B']

-0.27445325847757135

In [36]:
df.xs(1,level='Num')

               A         B         C
Groups
G1      0.366639 -0.452124 -0.085485
G2     -0.117880  0.772668  0.654788