In [11]:
import pandas as pd
import numpy as np

In [12]:
from numpy.random import randn

In [13]:
np.random.seed(101)

In [14]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['AB','CD','EF','GH'])

In [19]:
df

         AB        CD        EF        GH
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
df['GH']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: GH, dtype: float64

In [35]:
df.GH

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: GH, dtype: float64

In [36]:
df['Hendri'] = df['AB'] + df['GH']

In [37]:
df

         AB        CD        EF        GH    Hendri
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [38]:
df.drop('Hendri',axis=1, inplace=True)

In [39]:
df

         AB        CD        EF        GH
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
df.drop('E')

         AB        CD        EF        GH
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [42]:
df

         AB        CD        EF        GH
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df.loc['A']

AB    2.706850
CD    0.628133
EF    0.907969
GH    0.503826
Name: A, dtype: float64

In [44]:
df.iloc[2]

AB   -2.018168
CD    0.740122
EF    0.528813
GH   -0.589001
Name: C, dtype: float64

In [45]:
 df.loc['E','AB']

0.19079432237171562

In [46]:
 df.loc[['A','B'],['AB','CD']]

         AB        CD
A  2.706850  0.628133
B  0.651118 -0.319318