In [1]:
import numpy as np

In [2]:
import pandas as pd

In [17]:
labels = ['a','b','c','d','e']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10 , 'b':20 , 'c':30}
nat = ['German', 'USA', 'Indonesia', 'Japan','malaysia']

In [14]:
pd.Series(data= my_data)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(nat, labels)

a       German
b          USA
c    Indonesia
d        Japan
e     malaysia
dtype: object

In [21]:
set1 =pd.Series(['USA', 'JAPAN', 'INDONESIA', 'ITALY'], [1,2,3,4])

In [27]:
set1

1          USA
2        JAPAN
3    INDONESIA
4        ITALY
dtype: object

In [29]:
set1[1]

'USA'